{% extends "layout.html" %}
{% set active_page = "aboutus" %}
{% block title %}
Skill Verse - About Us
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <div class="profile-card">
            <div class="profile-info">
                <h3 class="profile-title">About Us</h3>
                <hr class="divider">
                <p class="profile-text">Our agenda is to launch a teaching based website for students/working professionals to gain deep technical skills in the fields of Data Science, Cloud Computing, web development, and programming.
                    Our site contains collection of courses which are taught by industry experts as well as excellent teachers. It has multiple pages neatly separated, with each one focusing on separate functionality to give a user smooth experience.
                    The styles and themes are keep smooth, consistent and professional to give our end users pleasant UI/UX experience. The code base follows has proper folder structure, and follows industry coding standards, which is refactored and properly linted.
                    We collaborated with each other to come up with design, styling, writing, refactoring and testing the code.</p>   
            </div>
        </div>
        <div class="profile-card">
            <div class="profile-image">
                <img src="../static/images/Nandini.jpeg" alt="Nandini profile image">
            </div>
            <div class="profile-info">
                
                <h3 class="profile-title">Sri Nandini Ganisetty</h3>
                <hr class="divider">
                <p class="profile-text">I am a seasoned software professional with over 4 years work experience in designing, developing, and deploying robust enterprise-level applications
                    and complex software components following agile methodologies.
                    I possess excellent knowledge of multiple programming languages and technologies, extensive knowledge in object-oriented analysis and design.
                    In this project, I designed UI and used Bootstrap for styling, kept the styles consistent and made sure the website is responsive. 
                    I did the python project set up, finilized and included all the dependant libraries like flask_login, wtforms, validators etc.
                    I designed routes, templates for courses, cart pages, I added the search and add to cart functionality in Courses page.</p>   
            </div>
        </div>
        <div class="profile-card">
            <div class="profile-image">
                <img src="../static/images/Sumanth.jpeg" alt="Sumanth profile image">
            </div>
            <div class="profile-info">
                
                <h3 class="profile-title">Sumanth Jinka</h3>
                <hr class="divider">
                <p class="profile-text">Analytics professional with 2+ years of expertise in Pharma domain with relevant postgraduate coursework. 
                    I look forward to growth and the opportunity to demonstrate my skills to clients.
                    Skilled in statistics, ML/analytical capabilities, Power BI and Tableau, SQL, and Python, as well as being a critical thinker with good problem-solving abilities. 
                    My contribution to our project is requirement collecting and skeleton design of how many features should be included on the website. 
                    In addition, I worked on the login and register pages.  
                    To encrypt the passwords stored in the database, we utilized the bcrypt feature.</p>   
            </div>
        </div>
        <div class="profile-card">
            <div class="profile-image">
                <img src="../static/images/Manikanta.jpeg" alt="Manikanta profile image">
            </div>
            <div class="profile-info">
                <h3 class="profile-title">Easwar Manikanta Srinivas Naramsetty</h3>
                <hr class="divider">
                <p class="profile-text">A curious, self-motivated Master of Business Analytics and Information Systems graduate student keen on capturing and manipulating data, identifying patterns, and making interpretations to help draw data-driven decisions.
                    An experienced software developer with 4 years experience in producing robust code capable of boosting efficiency for high-performing platforms.
                    For our Skill Verse website, I created web pages that are in line with the existing styles to maintain consistency across the site.
                    I was responsible for gathering relevant content that is used across our website.
                    Additionally, I was responsible for the overall responsiveness, database setup of the application, and the app.py file which has maining routing functionality to all the webpages.
                    </p>
            </div>
        </div>
        <div class="profile-card">
            <div class="profile-image">
                <img src="../static/images/Prasad.jpeg" alt="Prasad profile image">
            </div>
            <div class="profile-info">
                <h3 class="profile-title">Dilli Prasad Sigirala</h3>
                <hr class="divider">
                <p class="profile-text">I am an aspiring data engineer with a strong interest in using data to drive business insights and decision-making.
                    I have experience with tools such as SQL and Python, and I am also developing skills in areas such as data warehousing, data integration, and cloud computing.
                    For SkillVerse, I worked on Contact us and About us page. I created templates, routes, and functionality. I added form validations for these pages. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}